# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.swp

# system ignore
*.DS_Store
Thumbs.db
hs_err_pid*

# pyc ignore
*.pyc

# test ignore
_trial_temp/

# build ignore
build/
*.egg-info/

# package files
dist/
